<% provide(:title, "About")%>

    <h1>About</h1>
    <p>
      The <a href="/login"><em>PharmaC
      App</em></a> is an app made by UP Students for a project.
      This app is used for stock management of medicine in a pharmacy.
      This app doesn't help you choose a medicine to use.
      This is still currently in progress.
    </p>
    
     <a href="/login"><em>back</a>