<% provide(:title, "About")%>

    <h1>About PharmaC</h1>
    <p>
<<<<<<< HEAD
      <h3>
      The PharmaC App aims to help pharmacies manage its inventory processes easier and faster.
      PharmaC App allows its users be able to identify new arrival products, products with high demand, and 
      search and organize products in their inventory.
      </h3>
      
      <!--The <a href="http://www.railstutorial.org/"><em>Ruby on Rails-->
      <!--Tutorial</em></a> is a-->
      <!--<a href="http://www.railstutorial.org/book">book</a> and-->
      <!--<a href="http://screencasts.railstutorial.org/">screencast series</a>-->
      <!--to teach web development with-->
      <!--<a href="http://rubyonrails.org/">Ruby on Rails</a>.-->
      <!--This is the sample application for the tutorial.-->
    </p>
    <br>
    <br>
    <h4><%= link_to "Back", login_path%></h4>
=======
      The <a href="/login"><em>PharmaC
      App</em></a> is an app made by UP Students for a project.
      This app is used for stock management of medicine in a pharmacy.
      This app doesn't help you choose a medicine to use.
      This is still currently in progress.
    </p>
    
     <a href="/login"><em>back</a>
>>>>>>> cb2ddc9c90026a205d9e3a2e1378b38162a7eee5
