<% provide(:title, "Help") %>

    <h1>Help</h1>
    <p>
      Got stuck?
      Then contact us at:
      <a href="https://plus.google.com/u/0/109463249400730954596">jfylucanas@gmail.com
      </a>
      or call us at
      <a href="/login"><em>09275098772</a>. We are here to serve you.
    </p>
     <a href="/login">back</a>