<% provide(:title, "How to add a product?") %>

<h1>How to add a product?</h1>
<br>
<div style="display:inline-block">
    <ul style="margin-right:auto; margin-left:auto">
        <li style="text-align:left"><h3>Click <strong>Add</strong>.</h3></li>
        <li style="text-align:left"><h3>Enter product's <strong>generic name</strong>, <strong>brand name</strong>, <strong>price</strong>, <br><strong>quantity</strong>, and <strong>dosage</strong> in milligrams (mg).</h3></li>
        <li style="text-align:left"><h3>Click <strong>Add To Inventory</strong>.</h3></li>
    </ul>
</div>
<br>
<br>
<h4><%= link_to "Back to Help", help_path%></h4>
