<% provide(:title, "How to sign up?") %>

<h1>How to sign up?</h1>
<br>
<div style="display:inline-block">
    <ul style="margin-right:auto; margin-left:auto">
        <li style="text-align:left"><h3>Click <strong>Sign up</strong>.</h3></li>
        <li style="text-align:left"><h3>Enter your <strong>first name</strong>, <strong>last name</strong>, <strong>email</strong>, and your <strong>password</strong></h3></li>
        <li style="text-align:left"><h3>Click <strong>Create my account</strong>.</h3></li>
    </ul>
</div>
<br>
<br>
<h4><%= link_to "Back to Help", help_path%></h4>