<% provide(:title, "How to search for a product?") %>

<h1>How to search for a product?</h1>
<br>
<div style="display:inline-block">
    <ul style="margin-right:auto; margin-left:auto">
        <li style="text-align:left"><h3>Click the textfield intended for search.</h3></li>
        <li style="text-align:left"><h3>Enter what product you want to look for.</h3></li>
        <li style="text-align:left"><h3>Click the <strong>search</strong> icon.</h3></li>
    </ul>
</div>
<br>
<br>
<h4><%= link_to "Back to Help", help_path%></h4>