<% provide(:title, "What do I use PharmaC for?") %>

<h1>What do I use PharmaC for?</h1>
<br>
<div style="display:inline-block">
    <ul style="margin-right:auto; margin-left:auto">
        <li style="text-align:left"><h3>Keeping track of inventory processes.</h3></li>
        <li style="text-align:left"><h3>Organization of the inventory in an easier and faster way.</h3></li>
        <li style="text-align:left"><h3>Determining in demand products.</h3></li>
        <li style="text-align:left"><h3>Identifying new arrival products.</h3></li>
    </ul>
</div>
<br>
<br>
<h4><%= link_to "Back to Help", help_path%></h4>