
 #logo{
    margin-top: 100px;
    margin-bottom: 50px;  
 }
 
 .login-panel,.panel{    
     color: #3fbcf0;
     font-weight: 200;
     line-height: 1.1;
     max-width: 430px;
     margin: 0 auto 20px;
     border-radius: 8px;
     margin-bottom: 10px;
 }
 
 .login-panel .panel-footer{
     color: gray;
 }
 
 .login-panel .panel-footer a{
     color: #3fbcf0;
     text-decoration: underline;
 }
 
 #login-footer>a{
     font-weight: 200;
     line-height: 1.1;
     color:white;
     text-decoration: underline;
     font-size: 16px;
     margin: 10px;
 }
 
 .login-form{
     color: black;
     margin-top: 20px;
     height: 44px;
 }
 
 .login-button{
     margin-top: 20px;
     width: 100%;
     margin-bottom: 20px;
     height: 44px;
 }
 
 #login-logo > img{
    height: 140px;
    margin-bottom: 33px;
 }
 
 #login-footer > a:hover{
     color: Blue;
     background-color: transparent;
 }
 
 .login-panel > .panel-body > h3{
     margin: 30px;
 }
 
 #login-signup>a:hover{
     color: Blue;
     background-color: transparent;
 }